

.green-text{
    color:#499A18;  
}
.orange-text{
    color: #E06733;  
}
h1{
    font-family: Helvetica, Arial, sans-serif;
    }
h2{
    font-family: ScolarPE-Regular, Courier, monospace;
} 
h3{
    font-family: Helvetica, Arial, sans-serif;
} 
h4{
    font-family: Helvetica, Arial, sans-serif; 
} 
h5{
    font-family: ScolarPE-Regular, Courier, monospace;
}
p{
    font-family: Helvetica, Arial, sans-serif;
} 