*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}



html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color:#000000;
    font-family: Inter;
    font-weight: 500;

}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
 }


@font-face {
    font-family: "Inika-Bold";  
    src: url("static/fonts/Inika-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
      }

@font-face {
    font-family: "Inika-Regular";  
    src: url("static/fonts/Inika-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
       }

@font-face {
    font-family: "Inter-Bold";  
    src: url("static/fonts/Inter-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
        }

@font-face {
    font-family: "Inter-Regular";  
    src: url("static/fonts/Inter-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
        }



.page{
   
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
}

button:hover {
    color: #fff; /* Цвет текста */
    background: #499A18; /* Цвет фона */
}

._container {
    max-width: 1222px; 
    margin: 0px auto;
    box-sizing: content-box;
 }  
 @media (max-width: 768px) {
    ._container {
        max-width: 668px; 
        margin: 0px auto;
        box-sizing: content-box;
     }  
 } 

 @media (max-width: 380px) {
    ._container {
        max-width: 330px; 
        margin: 0px auto;
        box-sizing: content-box;
     }  
 } 


 
.ibg{
    position: relative;
}

._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.green-text{
    color:#499A18;  
}
.orange-text{
    color: #E06733;  
}
h1{
    font-size: 45px;
    color: #717171;
    line-height: 108%;
    font-family: Inter, Arial, sans-serif;
    }

@media (max-width: 768px){
    h1{
        font-size: 35px;
        color: #717171;
        line-height: 108%;
        font-family: Inter, Arial, sans-serif;
        }  
}

@media (max-width: 380px){
    h1{
        font-size: 25px;
        color: #717171;
        line-height: 108%;
        font-family: Inter, Arial, sans-serif;
        }  
}

h2{
    font-size: 40px;
    color: #717171;
    font-family: Inika, Curier, monospace;
} 



/*---------------------------------------*/

.header{
    
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
    background-color: #EDF2EC;

}

.conteiner-fon0{
    
    display: flex;
    min-height: 134px;
    align-items: center;
    
    
}

@media (max-width: 768px) {
    .conteiner-fon0{
        display: flex;
        min-height: 117px;
        align-items: center;
        }
}

@media (max-width: 380px) {
    .conteiner-fon0{
        display: flex;
        min-height: 97px;
        align-items: center;
        }
}

.stroke-sky{
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-family: Inika, Courier, monospace; 
    
}

@media (max-width: 380px){
    .stroke-sky{
        text-decoration: none;
        font-size: 12px;
        color: black;
        font-family: Inika, Courier, monospace; 
        
    }
}

.stroke-sky:hover{
color:#E06733; 
}

.menu_item:not(:last-child){
    margin: 0px 46px 0px 0px; 
}
.conteiner-logo{
    width: 60px;
  }

.conteiner-link {
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
}
.conteiner-head{
    display: flex;
    padding-top: 45px;
    
    }
.header_menu{
    margin: 0px 0px 0px 667px;
} 

@media (max-width: 768px){
    .header_menu{
        margin: 0px 0px 0px 153px;
    }    
}

@media (max-width: 380px){
    .header_menu{
        margin: 0px 0px 0px 227px;
    }    
}

/*--------------------------------------------*/

.welcome{
   
    width: 100%;
    
    z-index: 50;
    background-color: #EDF2EC;

}

.conteiner-fon1{
    display: flex;
    height: 532px;
    background-color: #EDF2EC;
}

@media (max-width: 768px){
    .conteiner-fon1{
        display: flex;
       height: 420px;
        background-color: #EDF2EC;
    }   
}

@media (max-width: 380px){
    .conteiner-fon1{
        display: flex;
        height: 300px;
        background-color: #EDF2EC;
    }   
}

.img-fon1{
    position: absolute;
    margin: 62px 0px 0px 0px;
    scale: 100%;
}

@media (max-width: 768px){
    .img-fon1{
        position: absolute;
        margin: 40px 0px 0px 0px;
        scale: 80%;
    }  
}

@media (max-width: 380px){
    .img-fon1{
        position: absolute;
        margin: -10px 0px 0px 0px;
        scale: 50%;
        opacity: 30%;
    }  
}

.block-fon1{
    margin: 98px 0px 0px 673px;
}

@media (max-width: 768px){
    .block-fon1{
        margin: 40px 0px 0px 341px;
    } 
}

@media (max-width: 380px){
    .block-fon1{
        margin: 24px 0px 0px 0px;
    } 
}

.block-fon1-1{
    display: flex; 
    flex-direction: column; 
   
 }

.block-fon1-margin>*:not(:last-child){
    margin: 0px 0px 45px 0px;
}

@media (max-width: 768px){
    .block-fon1-margin>*:not(:last-child){
        margin: 0px 0px 30px 0px;
    }
}

@media (max-width: 380px){
    .block-fon1-margin>*:not(:last-child){
        margin: 0px 0px 24px 0px;
    }
}

.block-text-grow{
    
    width: 600px;
    margin-left: -3px;
    padding-left: 0;
    margin-top: 33px;
       
}
.block-text-fon1{
    width: 530px;
    margin-left: 0;
    padding-left: 0;
    margin-top: 8px;   
}

.block-title-fon1{
    width: 549px; 
    letter-spacing: 0,2px;  
   }

@media (max-width: 768px){
    .block-title-fon1{
        width: 341px; 
        letter-spacing: 0,2px;  
       } 
}   

@media (max-width: 380px){
    .block-title-fon1{
        width: 330px; 
        letter-spacing: 0,2px;  
       } 
} 

.text-article-fon1{
    width: 549px;
    font-size: 20px;
    color: #717171;
    line-height: 170%;    
}

@media (max-width: 768px){
    .text-article-fon1{
        width: 341px;
        font-size: 16px;
        color: #717171;
        line-height: 170%;    
    }   
}

@media (max-width: 380px){
    .text-article-fon1{
        width: 330px;
        font-size: 16px;
        color: #717171;
        line-height: 170%;    
    }   
}

.button1 {
    border: none;
    color:#EDF2EC;
    font-family: Inter, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0px;
    padding: 11px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 158px;
    min-height: 44px;
  }
.button-new {
    background-color: #EDF2EC; 
    color: black;
    border-radius: 10px;
    border: 2px solid #E06733;
  }
   
  .button-new:hover {
    background-color: #E06733;
    color: white;
  }


/*-------------------------------------------------------*/


.about{
    background-color: #ffffff;
}

.conteiner-fon2{
    display: flex;      
    justify-content: center;
       
    height: 666px;    
    background-color: #ffffff;
}

@media (max-width: 768px){
    .conteiner-fon2{
        display: flex;
        flex-wrap: wrap;
        height: 783px;    
        background-color: #ffffff;
    }   
}

@media (max-width: 380px){
    .conteiner-fon2{
        display: flex;
        flex-wrap: wrap;
        height: 516px;    
        background-color: #ffffff;
    }   
}


.left115{
    padding-left: 115px;
}

.block-fon2-1{    
    display: flex; 
    flex-direction: column;   
}

@media (max-width: 768px){
    .block-fon2-1{    
        display: flex; 
        flex-direction: column; 
        justify-content: center;  
        align-items: center;
    }
}

@media (max-width: 380px){
    .block-fon2-1{    
        display: flex; 
        flex-direction: column; 
        justify-content: center;  
        align-items: center;
    }
}

.block-fon2{
    margin: 161px 153px 0px 0px;
}

@media (max-width: 768px){
    .block-fon2{
        margin: 40px 0px 0px 0px;
    }
}

@media (max-width: 380px){
    .block-fon2{
        margin: 30px 0px 0px 0px;
    }
}

.block-fon2-margin>*:not(:last-child){
    margin: 0px 0px 40px 0px;
}

@media (max-width: 380px){
    .block-fon2-margin>*:not(:last-child){
        margin: 0px 0px 21,55px 0px;
    } 
}

.block-text-fon2{
    
    }

.block-text-fon2-h{
    font-size: 40px;
    color: #499A18 ;
    font-family: Inika, Courier, monospace;
    width: 605px;
    line-height: 105%;
    font-weight: lighter;    
}

@media (max-width: 768px){
    .block-text-fon2-h{
        font-size: 35px;
        color: #499A18 ;
        font-family: Inika, Courier, monospace;
        width: 432px;
        line-height: 105%;
        font-weight: lighter;  
        text-align: center;
        
    }
}

@media (max-width: 380px){
    .block-text-fon2-h{
        font-size: 25px;
        color: #499A18 ;
        font-family: Inika, Courier, monospace;
        width: 288px;
        line-height: 105%;
        font-weight: lighter;    
    }
}

.text-article-fon2{
    max-width: 605px;
    font-size: 20px;
    color: #717171;
    line-height: 150%;
   }

@media (max-width: 768px){
    .text-article-fon2{
        max-width: 668px;
        font-size: 20px;
        color: #717171;
        line-height: 150%;
       }
}

@media (max-width: 380px){
    .text-article-fon2{
        max-width: 330px;
        font-size: 15px;
        color: #717171;
        line-height: 150%;
       }
}

.img-fon2{    
    margin: 40px 0px 0px 0px;
    scale: 100%;
}

@media (max-width: 768px){
    .img-fon2{    
        margin: -60px 0px 0px 0px;  
       
        scale: 55%;
    }  
}

@media (max-width: 380px){
    .img-fon2{    
        margin: -180px 0px 0px 0px;
        scale: 30%;
    }  
}

.right115-fon2{
    padding-left: 150px; 
    padding-top: 60px;
 }


/*---------------------------------------------------------------*/
.service{
    background-color: #EDF2EC;
}
.conteiner-fon3{
    display: flex;  
    flex-direction: column;   
    width: 100%;
    height: 1300px;
    background-color: #EDF2EC;
}

@media (max-width: 768px){
    .conteiner-fon3{
        display: flex;  
        flex-direction: column;   
        width: 100%;
        height: 1780px;
        background-color: #EDF2EC;
    }   
}

@media (max-width: 380px){
    .conteiner-fon3{
        display: flex;  
        flex-direction: column;
        text-align: center;   
        width: 100%;
        height: 3150px;
        background-color: #EDF2EC;
    }   
}

.block-text-fon3-h{
        color: #499A18 ;
        font-family: Inika, Courier, monospace;
        width: 306px;              
        font-weight: lighter;
        margin: 0px 142px 0px 0px;
    }

@media (max-width: 768px){
    .block-text-fon3-h{
        color: #499A18 ;
        font-family: Inika, Courier, monospace;
        width: 306px;              
        font-weight: lighter;
        margin: 0px 0px 40px 0px;
        font-size: 35px;
    } 
}

@media (max-width: 380px){
    .block-text-fon3-h{
        color: #499A18 ;
        font-family: Inika, Courier, monospace;
        width: 187px;              
        font-weight: lighter;
        margin: 0px 0px 35px 0px;
        font-size: 25px;
        text-align: center;
    } 
}

    
.conteiner-garden-fon3{
    display: flex;
    align-items: center;
}

@media (max-width: 768px){
    .conteiner-garden-fon3{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    } 
}

@media (max-width: 380px){
    .conteiner-garden-fon3{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
}

.conteiner-garden{
        display:flex; 
        flex-wrap: wrap;     
      }

.block-fon3-margin>*:not(:last-child){
        margin: 0px 38px 9px 0px;
    }
@media (max-width: 380px){
    .block-fon3-margin>*:not(:last-child){
        margin: 0px 10px 9px 0px;
    }
}

.title-fon3{
    margin: 40px 0px 35px 0px;
}

@media (max-width: 768px){
    .title-fon3{
        margin: 60px 0px 40px 0px;
    }
}

@media (max-width: 380px){
    .title-fon3{
        margin: 30px 0px 40px 25px;
    }
}

.right-fon3{
        
       }
.fig5{     
        width: 161px;
        height: 50px;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: solid 1px #E06733;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: #EDF2EC;
    }
@media (max-width: 380px){
    .fig5{     
        width: 121px;
        height: 35px;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: solid 1px #E06733;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: #EDF2EC;
    } 
}


.text_center_orange{
        text-align: center;
        font-weight: bold;
        font-family: Inika, Courier, monospace;   
        font-weight: lighter;
        font-size: 20px;
        color:#E06733;       
       
    }
    @media (max-width: 380px){
        .text_center_orange{
            text-align: center;
            font-weight: bold;
            font-family: Inika, Courier, monospace;   
            font-weight: lighter;
            font-size: 15px;
            color:#E06733;       
           
        }
    }

@media (max-width: 380px){
    .text_center_orange{
        text-align: center;
        font-weight: bold;
        font-family: Inika, Courier, monospace;   
        font-weight: lighter;
        font-size: 15px;
        color:#E06733;          
        
    } 
}

.text_center_orange:hover {
        background-color: #E06733;
        color: white;
        cursor: pointer;
        
      }
.fig3{
    border-radius: 20px;
    width: 328px;
    height: 450px;
    background: #EDF2EC;
    border: solid 1px #e2dfdf;
    }
@media (max-width: 768px){
    .fig3{
        border-radius: 20px;
        width: 278px;
        height: 450px;
        background: #EDF2EC;
        border: solid 1px #e2dfdf;
        }  
}
.fig7{
        width: 328px;
        height: 350px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }
    @media (max-width: 768px){
        .fig7{
            width: 278px;
            height: 350px;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
        }
    }
    
.fig3-photo{
    border-radius: 20px 20px 0px 0px; 
    margin-bottom: 5px;
    object-fit: fill;
  width: 100%;
  height: 100%;
    }

.fig3-text{
   display: flex;
   flex-direction: column; 
   text-align: center;
   }

.text-assort{
    font-size: 20px;
    font-weight: bold;
    color: #E06733;
    line-height: 200%;
    text-align: center;         
    } 
    
.text-article-assort{
    font-size: 16px;
    color: #717171;
    line-height: 150%;
    font-weight: regular;
    text-align: center;      
    }

@media (max-width: 768px){
    .text-article-assort{
        font-size: 16px;
        color: #717171;
        line-height: 130%;
        font-weight: regular;
        text-align: center;
        padding-left: 46px;
        
        width: 223px;      
        }
}

.outher1{
    display: flex;
     padding-top: 24px;
     margin-bottom: 17px;
        }

.outher2{
    padding-top: 37px;
    margin-bottom: 17px;
            }
.main-fon3{
text-align: center; 
display: flex;  
flex-wrap: wrap; 
margin: 0px -58.5px 0px -58.5px;
      }

 @media (max-width: 768px){
    .main-fon3{
        text-align: center; 
        display: flex;  
        flex-wrap: wrap; 
        margin: 0px -53.5px 0px -53.5px;
              } 
 }
 @media (max-width: 380px){
    .main-fon3{
        text-align: center; 
        display: flex;  
        flex-wrap: wrap; 
        
       justify-content: space-around;
        
              } 
 }

.main-fon3-margin{
    margin: 55px 58.5px 0px 58.5px;     
    }

.conteiner-6{
    padding: 55px 58.5px 0px 58.5px;
                  
        }
  @media (max-width: 768px){
    .conteiner-6{
        padding: 38px 53.5px 0px 53.5px;                     
            }
  }

  @media (max-width: 380px){
    .conteiner-6{
        padding: 0px 0px 34px 0px;                     
            }
  }

/*-------------------------------------------------------------------*/

.prices{
  background: #ffffff;  
}
.conteiner-fon4{
    display: flex;
   flex-wrap: wrap;
    height: 555px;
    background-color: #ffffff;
}

@media (max-width: 768px){
    .conteiner-fon4{
        display: flex;
        
        height: 585px;
        background-color: #ffffff;
    } 
}

@media (max-width: 380px){
    .conteiner-fon4{
        display: flex;
        justify-content: space-around;
        height: 512px;
        background-color: #ffffff;
    } 
}

.fig1{
    display: flex;
    justify-content: center;
    border-radius: 20px;
    width: 330px;
    height: 280px;
    background: #ffffff;
    border: solid 1px #e2dfdf;
}

@media (max-width: 380px){
    .fig1{
        display: flex;
        justify-content: center;
        border-radius: 20px;
        width: 224px;
        height: 235px;
        background: #ffffff;
        border: solid 1px #e2dfdf;
    }
}

.fig2{
    display: flex; 
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
}



.block-fon4-margin>*:not(:last-child){
    margin: 0px 0px 32px 0px;
}

@media (max-width: 380px){
    .block-fon4-margin>*:not(:last-child){
        margin: 0px 0px 14px 0px;
    }   
}

.block-fon4-1{
    display: flex; 
    flex-direction: column; 
    margin: 40px 438px 0px 0px;
    
}

@media (max-width: 768px){
    .block-fon4-1{
        display: flex; 
        flex-direction: column; 
        margin: 40px 40px 0px 0px;
        
    } 
}

@media (max-width: 380px){
    .block-fon4-1{
        display: flex; 
        flex-direction: column; 
        margin: 25px 0px 0px 0px;
        
    } 
}

.text-fon4-prices{
    font-family: Inter, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 125%;
    color: #000000;
     margin: 0px 0px 60px 0px;
}
@media (max-width: 768px){
    .text-fon4-prices{
        font-family: Inter, Arial, sans-serif;
        font-size: 35px;
        font-weight: bold;
        line-height: 125%;
        color: #000000;
         margin: 0px 0px 50px 0px;
    } 
}


@media (max-width: 380px){
    .text-fon4-prices{
        font-family: Inter, Arial, sans-serif;
        font-size: 25px;
        font-weight: bold;
        line-height: 125%;
        color: #000000;
         margin: 0px 0px 40px 75px;

    } 
}
.img-fon4{
    padding-left: 80px;
    padding-top: 0px;
    margin-bottom: 0px;
}

.rect_circle{      
    border-radius: 20px;
    width:250px;
    height:50px;
    background: #edf2ec;  
 }

 @media (max-width: 380px){
    .rect_circle{      
        border-radius: 20px;
        width:180px;
        height:50px;
        background: #edf2ec;  
     }
 }


.rect_circle_1{
    width: 170px;
   margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 380px){
    .rect_circle_1{
        width: 120px;
       margin-left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.img-fon4-11{
    padding-left: 80px;
    padding-top: 0px;
    margin-top: 20px;
    margin-left: 10px;
}
.img-fon4-12{
    padding-left: 80px;
    padding-top: 0px;
    margin-top: 17px;
    margin-left: -15px;
}

.img-fon4-13{         
    margin-left: auto;
}



.text_center_middle{
    color: #000000;
    line-height: 250%;
    font-family: Inter, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 380px){
    .text_center_middle{
        color: #000000;
        line-height: 300%;
        font-family: Inter, Arial, sans-serif;
        font-size: 15px;
        font-weight: bold;
    }
}

.block-fon4-2{
    display: flex; 
    flex-direction: column; 
    align-items: flex-end; 
    margin: 38px 0px 0px 0px;      
}

@media (max-width: 768px){
    .block-fon4-2{
        display: flex; 
        flex-direction: column; 
        align-items: flex-end; 
        margin: 135px 0px 0px 0px;      
    }
}

@media (max-width: 380px){
    .block-fon4-2{
        display: flex; 
        flex-direction: column; 
        align-items: flex-end; 
        margin: 20px 0px 0px 0px; 
        align-items: center;     
    }
}

.block-fon4-margin>*:not(:last-child){
    margin: 0px 0px 38px 0px;
}

@media (max-width: 768px){
    .block-fon4-margin>*:not(:last-child){
        margin: 0px 0px 22px 0px;
    }   
}

@media (max-width: 380px){
    .block-fon4-margin>*:not(:last-child){
        margin: 0px 0px 14px 0px;
    }   
}

.block-text-fon4-h{
    width: 452px; 
    text-align:right ; 
    font-size: 35px;
    font-weight: bold;
    line-height: 140%; 
    font-family: Inter, Arial, sans-serif;
    color: #000000;
       
}

@media (max-width: 768px){
    .block-text-fon4-h{
        width: 296px; 
        text-align:right ; 
        font-size: 25px;
        font-weight: bold;
        line-height: 140%; 
        font-family: Inter, Arial, sans-serif;
        color: #000000;
           
    }  
}

@media (max-width: 380px){
    .block-text-fon4-h{
        width: 230px; 
        text-align:right ; 
        font-size: 20px;
        font-weight: bold;
        line-height: 140%; 
        font-family: Inter, Arial, sans-serif;
        color: #000000;
        text-align: center;
           
    }  
}

.text-fon4{
   
}




.text-right-fon4{

}

.fig6{
    align-items: center;
    justify-content: center;
    
    width: 161px;
    height: 50px;
    border-radius: 5px;
    border: solid 1px #E06733;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #ffffff;
}

.img-fon4{
   
}

@media (max-width: 768px){
    .img-fon4{
        margin: 12px 0px 0px 0px;
    }
}

@media (max-width: 380px){
    .img-fon4{
        margin: 0px 0px 0px 0px;
        display: none;
    }
}


.left-fon4{
    text-align: right;
    }

/*------------------------------------------------------------------*/

.contacts{
    background-color: #EDF2EC; 
}
.conteiner-fon5{
    display: flex;
    flex-wrap: wrap;
    height: 739px;
    background-color: #EDF2EC;
    align-items: center;
    justify-content: center;
}

@media (max-width: 380px){
    .conteiner-fon5{
        display: flex;
        
        height: 445px;
        background-color: #EDF2EC;
       
       
        justify-content: space-around;
    }
}

.main-fon5{
    margin-top: 40px;  
      
}


@media (max-width: 380px){
    .main-fon5{
        margin-top: 25px;  
        justify-content: space-around;  
    }
}


.block-fon5-margin>*:not(:last-child){
    margin: 0px 0px 100px 0px;
}

@media (max-width: 380px){
    .block-fon5-margin>*:not(:last-child){
        margin: 0px 0px 80px 0px;
    }
}

.text-fon5-h2{
    
        font-weight: regular;
        font-size: 40px;
        width: 195px;
        margin-left: 150px;
        
   }

 @media (max-width: 380px){
    .text-fon5-h2{
    
        font-weight: regular;
        font-size: 34px;
        width: 195px;
        margin-left: -30px;
        
   }
}

    .fon5-h2{
        align-items: center;
        text-align: center;
    }

    @media (max-width: 380px){
        .fon5-h2{
            padding: 0px 0px 0px 170px;
           align-items: center;
        }
    }


.bum-fon5{
   padding: 0px 0px 0px 20px;
    
    }

    @media (max-width: 380px){
        .bum-fon5{
            padding: 0px 0px 0px 92px;
             
             }
    }

.fig4{
        width: 450px;
        height: 50px;
        background: #d2e4ce;
        box-shadow: 0 3px 7px #adadad; 
             
  }

  @media (max-width: 380px){
    .fig4{
        width: 300px;
        height: 50px;
        background: #d2e4ce;
        box-shadow: 0 3px 7px #adadad; 
         
  }
}


.rect_circle_fon5{
       width: 410px;
       margin-left: 20px;
       display: flex;
       align-items: center;
       justify-content: center;
    }  
    @media (max-width: 380px){
        .rect_circle_fon5{
            width: 260px;
            margin-left: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
         }  
    }

 
.img-fon5{
    margin-left: auto;
    } 
 .text-fon5{   
   
    }  
    
.text_center_city{
        color: #8e8e8e;
        line-height: 250%;
        font-family: Inter, Arial, sans-serif;
        font-size: 20px;
        font-weight: regular;
    }

.woman{
    padding: 67px 0px 0px 90px;
    scale: 50%;
}

@media (max-width: 380px){
    .woman{
        padding: 0px 0px 0px 90px;
        scale: 25%;
        margin-top: -123px;
    }
}
    


/*---------------------------------------------*/

.footer{
    background-color: #ffffff;
}

.conteiner-fon6{
    display: flex;
    align-items: center;
    height: 181px;
    background-color: #ffffff;
    justify-content: space-around; 
}


.main-fon6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block6-1{
    display: flex;
    margin: 10px 0px 20px 0px;  
    
}

.block-fon6-1-margin>*:not(:last-child){
    margin: 0px 20px 0px 0px;
}

.img-fon6{

  }
 
.img-padding-fon6{
    font-weight: lighter;
   }

.text-link{
    text-decoration: none;
    font-size: 20px;
    color:#000000;
    font-family: Inter, Arial, sans-serif;
    transition: 1s; 
  
}
.text-link:hover {
    transform: scale(1.2); 
    color: #499A18; 
}

.block6-2{
    
   
}

.block6-3{
    display: flex;
        
   }
.block-fon6-3-margin>*:not(:last-child){
    margin: 0px 30px 0px 0px;
}


.img-fon6-1{
    display: flex;
    list-style-type: none;
  }

  .links{    
    transition: 1s;  
  }
   
.links:hover {
    transform: scale(1.2); 
   }

 .img-padding-fon6-1{
   
   
   scale: 30%;
  }





.right115{
    
    padding-left: 685px;
}

.stroke-learn{
    font-size: 16px;
    display:inline-block;
    font-weight: regular;
    margin: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: solid 2px #E06733;
    color:#000000;
    font-family: Inter, Arial, sans-serif;
   width: 110px;
}


.block-text{
    width: 500px;
    margin-left: 0;
    padding-left: 0;
       
}



.text-article{
    font-size: 20px;
    color: #717171;
    line-height: 34px;
    margin-top: 2px;
    padding-bottom: 30px;
}






h3{
    font-family: Inter, Arial, sans-serif;
} 
h4{
    font-family: Inter, Arial, sans-serif; 
} 
h5{
    font-family: Inika-Regular, Courier, monospace;
}
p{
    font-family: Inter, Arial, sans-serif;
} 

.stroke-garden{
    display:inline-block;
    width: 140px;

    font-size: 20px;
    
    font-weight: bold;
    margin: 17px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: solid 1px #E06733;
    
    color:#E06733;
    font-family: Inika-Regular, Courier, monospace;
}

.conteiner-menu{
    display: flex;
    flex-direction: column;
}
.button-menu{

    display: inline-block;
    margin: 20px;
    text-align: left;
    background-color: #EDF2EC;
}













